<footer class="bg-secondary text-white py-4">
      <div class="contanier">
            <nav class="row">
                  <!--logo-->
                  <a href="" class="col-3 text-reset text-uppercase d-flex align-items-center">
                        <img src="../assets/img/logotipo.jpg" alt="Borga" class="logotipo">
                  </a>
                  <!--menu-->
                  <ul class="col-3 list-unstyled">
                        <li class="font-weight-bold text-uppercase">Recursos</li>
                        <li><a href="home" class="text-reset">Home</a></li>
                        <li><a href="quienes_somos" class="text-reset">Quienes somos</a></li>
                        <li><a href="contacto" class="text-reset">Contactenos</a></li>
                  </ul>
                   <!--menu-->
                  <ul class="col-3 list-unstyled">
                        <li class="font-weight-bold text-uppercase">Servicios</li>
                        <li><a href="topografia" class="text-reset">Topografia</a></li>
                        <li><a href="proyectos" class="text-reset">Construccion</a></li>
                        <li><a href="temario-cursos" class="text-reset">Cursos</a></li>
                  </ul>

                  <!--social nettwork-->
                  <ul class="col-3 list-unstyled">
                        <li class="font-weight-bold text-uppercase">Redes Sociales</li>
                        <li class="d-flex justify content-between">
                              <!--facebbok-->
                              <a href="https://www.facebook.com/ezequiel.borgarello/" class="text-reset"><i class="fab fa-facebook-f"></i></a>
                              <!--twitter-->
                              <a href="https://twitter.com/borga_89" class="text-reset"><i class="fab fa-twitter"></i></a>
                              <!--instagram-->
                              <a href="https://www.instagram.com/borga_89/?hl=es0_.lu" class="text-reset"><i class="fab fa-instagram"></i></a>
                        </li>


                        
                  </ul>




            </nav>
      </div>
      
      
</footer>

  
    
    