<header>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="home">{{nombre}}
          <img class="logotipo" src="/assets/img/logotipo.jpg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="quienes_somos">Quienes somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contacto">Contactenos</a>
            </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Servicios
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="topografia">Topografia</a></li>
                  <li><a class="dropdown-item" href="Proyectos">Construccion</a></li>
                  <li><a class="dropdown-item" href="temario-cursos">Cursos</a></li>
              </ul>
            </li>
            
          </ul>

           <!-- redes sociales-->
          
            <div class="footer-basic">
              <div class="social">
                <ul>
                  <li><a href="https://www.instagram.com/borga_89/?hl=es0_.lu"><i class="icon ion-social-instagram"></i></a></li>
                  <li><a href="https://twitter.com/borga_89"><i class="icon ion-social-twitter"></i></a></li>
                  <li><a href="https://www.facebook.com/ezequiel.borgarello/"><i class="icon ion-social-facebook"></i></a></li>
                  <li><a href="https://api.whatsapp.com/send?phone=+5491156227959&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20." class="float" target="_blank"><i class="fa fa-whatsapp my-float"></i></a></li>
                </ul>
              </div>
            </div>

          
          
        </div>
      </div>
    </nav>


  
    
    </header>
    


